.welcom-tartile {
    margin: 3em auto;
    color: var(--light-bl);
}
.welcom-tartile h2,
.contact h2,
.courses h2 {
    position: relative;
    width: fit-content;
    margin: 10px auto 35px auto;
}
.welcom-tartile h2::after,
.contact h2::after,
.courses h2::after {
    content:"";
    position: absolute;
    left: 50%;
    bottom: -12px;
    transform: translateX(-50%);
    width: 2em;
    height: 1mm;
    background-color: var(--main-clr);
    transition: width .5s linear;
}
.welcom-tartile h2:hover::after,
.contact h2:hover::after,
.courses h2:hover::after {
    width: 100%;
}
.welcom-tartile p {
    font-size: 16px;
    line-height: 1.7;
    font-weight: 700;
    text-align: center;
}
@media screen and (min-width: 750px) {
    .welcom-tartile h2,
    .contact h2,
    .courses h2 {
        font-size: 25px;
    }
    .welcom-tartile p {
        font-size: 22px;
    }
}