.features {
    margin: 2.5em auto;
    text-align: center;
}
.features >div {
    border-bottom: 1px solid var(--main-clr);
    padding: 18px 0;
}
.features svg {
    width: 28px;
    height: 28px;
    margin: 12px 0;
    color: var(--main-clr);
}
.features h3 {
    font-size: 20px;
    color: var(--light-bl);
}
.features p {
    color: #757575;
    margin-top: 10px;
    line-height: 1.7;
}