.hadit .cover-bg {
    text-align: center;
}
.hadit .hadit-text >div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-clr);
    margin-bottom: .5em;
}
.hadit .hadit-text span {
    font-size: 20px;
}
.hadit .hadit-text #symbol {
    font-size: 60px;
    margin: 0 10px;
}
.hadit .hadit-text p {
    font-size: 18px;
    line-height: 1.8;
    color: var(--white-clr);
}
@media screen and (min-width: 500px) {
    .hadit .hadit-text p {
        width: 400px;
        margin: auto;
    }
}
@media screen and (min-width: 600px) {
    .hadit .cover-bg {
        width: fit-content;
    }
    .hadit .hadit-text span {
        font-size: 24px;
    }
    .hadit .hadit-text #symbol {
        font-size: 70px;
    }
    .hadit .hadit-text p {
        font-size: 22px;
        width: 500px;
    }
}
@media screen and (min-width: 900px) {
    .hadit .hadit-text span {
        font-size: 28px;
    }
    .hadit .hadit-text #symbol {
        font-size: 100px;
    }
    .hadit .hadit-text p {
        font-size: 24px;
        width: 600px;
    }
    header a[role="button"] {
        font-size: 16px;
    }
}